name: Continuous Integration

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  lint:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with: { python-version: "3.8" }

    - name: Install codespell
      run: pip3 install codespell

    - name: Install clang-format
      run: apt-get update -q
        && apt-get install lsb-release wget software-properties-common gnupg -q -y
        && wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh
        && ./llvm.sh 16
        && apt-get install clang-format-16 -q -y

    - name: Lint
      run: cmake -D FORMAT_COMMAND=clang-format-16 -P cmake/lint.cmake

    - name: Spell check
      if: always()
      run: cmake -P cmake/spell.cmake

  coverage:
    needs: [lint]

    runs-on: ubuntu-22.04

    container:
      image: docker://jbeirer/ubuntu22-fastcalosim:latest

    if: github.repository_owner == 'jbeirer'

    steps:
    - uses: actions/checkout@v4

    - name: Install LCov
      run: apt-get update -q
        && apt-get install lcov -q -y

    - name: Configure
      run: cmake --preset=ci-coverage

    - name: Build
      run: cmake --build build/coverage -j 2

    - name: Test
      working-directory: build/coverage
      run: ctest --output-on-failure --no-tests=error -j 2

    - name: Process coverage info
      run: cmake --build build/coverage -t coverage

    - name: Submit to codecov.io
      uses: codecov/codecov-action@v4
      with:
        file: build/coverage/coverage.info

  sanitize:
    needs: [lint]

    runs-on: ubuntu-22.04

    container:
      image: docker://jbeirer/ubuntu22-fastcalosim:latest

    env: { CXX: clang++-16 }

    steps:

    - uses: actions/checkout@v4

    - name: Install sanitizers
      run: apt-get update -q
        && apt-get install lsb-release wget software-properties-common gnupg -q -y
        && wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh
        && ./llvm.sh 16

    - name: Configure
      run: cmake --preset=ci-sanitize

    - name: Build
      run: cmake --build build/sanitize -j 2

    - name: Test
      working-directory: build/sanitize
      env:
        ASAN_OPTIONS: "strict_string_checks=1:\
          detect_stack_use_after_return=1:\
          check_initialization_order=1:\
          strict_init_order=1:\
          detect_leaks=1"
        UBSAN_OPTIONS: print_stacktrace=1
      run: ctest --output-on-failure --no-tests=error -j 2

  test:
      needs: [lint]
      runs-on: ubuntu-22.04

      strategy:
        matrix:
          os: [alma9, ubuntu22]

          type: [shared, static]

          include:
          - { type: shared, shared: YES }
          - { type: static, shared: NO }

      container:
        image: docker://jbeirer/${{ matrix.os }}-fastcalosim:latest

      steps:
      - uses: actions/checkout@v4

      - name: Install static analyzers for Ubuntu 22.04 
        if: matrix.os == 'ubuntu22'
        run: >-
          apt-get update -q
          && apt-get install lsb-release wget software-properties-common gnupg -q -y
          && wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh
          && ./llvm.sh 16
          && apt-get install clang-tidy-16 cppcheck -y -q

          update-alternatives --install
          /usr/bin/clang-tidy clang-tidy
          /usr/bin/clang-tidy-16 160

      - name: Install static analyzers for AlmaLinux 9
        if: matrix.os == 'alma9'
        run: >-
          dnf update -y 
          && dnf install clang-tools-extra cppcheck -y -q

      - name: Configure
        run: cmake "--preset=ci-ubuntu"
          -D BUILD_SHARED_LIBS=${{ matrix.shared }}

      - name: Build
        run: cmake --build build --config Release -j 2

      - name: Install
        run: cmake --install build --config Release --prefix prefix

      - name: Test
        working-directory: build
        run: ctest --output-on-failure --no-tests=error -C Release -j 2

  docs:
    # Deploy docs only when builds succeed
    needs: [sanitize, test]

    runs-on: ubuntu-22.04

    # To enable, first you have to create an orphaned gh-pages branch:
    #
    #    git switch --orphan gh-pages
    #    git commit --allow-empty -m "Initial commit"
    #    git push -u origin gh-pages
    #
    # Edit the <name> placeholder below to your GitHub name, so this action
    # runs only in your repository and no one else's fork. After these, delete
    # this comment and the last line in the conditional below.
    # If you do not wish to use GitHub Pages for deploying documentation, then
    # simply delete this job similarly to the coverage one.
    if: github.ref == 'refs/heads/main'
      && github.event_name == 'push'
      && github.repository_owner == '<name>'
      && false

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with: { python-version: "3.8" }

    - name: Install m.css dependencies
      run: pip3 install jinja2 Pygments

    - name: Install Doxygen
      run: apt-get update -q
        && apt-get install doxygen -q -y

    - name: Build docs
      run: cmake "-DPROJECT_SOURCE_DIR=$PWD" "-DPROJECT_BINARY_DIR=$PWD/build"
        -P cmake/docs-ci.cmake

    - name: Deploy docs
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: build/docs/html
